<div>
    <div class="rtfact-storage-element"
         ng-click="StorageElement.onClick($event)">

        <!-- Title Row -->
        <div class="storage-element-row"
              ng-if="StorageElement.level === 'top'">
            <span class="storage-element-name" ng-if="StorageElement.STORAGE_TYPES_DICTIONARY[StorageElement.element.data.type]">{{StorageElement.STORAGE_TYPES_DICTIONARY[StorageElement.element.data.type]}}</span>
            <span class="storage-element-name" ng-if="!StorageElement.STORAGE_TYPES_DICTIONARY[StorageElement.element.data.type]">{{StorageElement.element.data.type}}</span>
            <span ng-if="StorageElement.element.subElements && StorageElement.element.subElements.length">
                <span>|</span> Mount - {{StorageElement.element.subElements.length}}
            </span>
            <span ng-if="StorageElement.element.data.redundancy">
                <span>|</span> Redundancy - {{StorageElement.element.data.redundancy}}
            </span>

        </div>

        <!-- Directory Row -->
        <div class="storage-element-row"
              ng-if="StorageElement.level === 'top' && StorageElement.element.data.binariesDir">
            <span>
                Directory: {{StorageElement.element.data.binariesDir}}
            </span>
        </div>

        <!-- Usage Row -->
        <div class="storage-element-row usage"
             ng-if="StorageElement.level === 'top' && StorageElement.element.data.usageSpace !== undefined && StorageElement.element.data.totalSpace !== undefined">
            <div class="usage-string">Used: {{StorageElement.getUsageString(true) || 'N/A'}}</div>
            <div class="storage-usage-container" ng-if="!StorageElement.SpecialValues.isSpecialValue(StorageElement.element.data.usageSpace)">
                <rtfact-storage-usage total="StorageElement.element.data.totalSpace"
                                      used="StorageElement.element.data.usageSpace"
                                      thresholds="StorageElement.thresholds"></rtfact-storage-usage>
            </div>
        </div>

        <!-- Caches -->
        <div ng-if="StorageElement.element.caches && StorageElement.element.caches.length"
             class="caches-container"
             ng-repeat="cache in StorageElement.element.caches track by $index">
            <rtfact-storage-element level="top" element="cache"></rtfact-storage-element>
        </div>

        <!-- Sub elements for shard -->
        <div class="subs-container"
             ng-if="StorageElement.level === 'top' && StorageElement.element.data.type === 'sharding' && StorageElement.element.subElements && StorageElement.element.subElements.length">
            <div ng-repeat="subElement in StorageElement.element.subElements" class="sub-container">
                <div ng-style="{width: StorageElement.getSubWidth(subElement)}" class="pull-left sub-wrapper" ng-class="{'selected-sub': StorageElement.selectedSub.element === subElement}">
                    <rtfact-storage-element level='sub' parent="StorageElement" element="subElement"></rtfact-storage-element>
                </div>
            </div>
        </div>

        <!-- Sub View -->
        <div class="storage-element-as-sub" ng-if="StorageElement.level === 'sub'">

            <i class="icon icon-plus pull-right" ng-class="{'close-sign': StorageElement.parent.selectedSub === StorageElement}"></i>

            <div class="overflow-tooltip-trigger"
                 ng-if="StorageElement.isTextOverflowing()"
                 jf-tooltip="{{StorageElement.element.data.id}}<br>{{StorageElement.getUsageString()}}">
                <div class="mini-label">
                    <div>{{StorageElement.element.data.id}}</div>
                </div>
            </div>

            <div class="text-content" ng-style="{visibility: (StorageElement.isTextOverflowing() ? 'hidden' : 'visible')}">
                <div>{{StorageElement.element.data.id}}
                    <span ng-if="StorageElement.element.subElements && StorageElement.element.subElements.length">
                        (M={{StorageElement.element.subElements.length}})
                    </span>
                </div>
                <div class="sub-usage-text" ng-if="StorageElement.element.data.usageSpace !== undefined && StorageElement.element.data.totalSpace !== undefined">
                    {{StorageElement.getUsageString() || 'Usage Info Unavailable'}}
                </div>
            </div>

            <rtfact-storage-usage ng-if="!StorageElement.SpecialValues.isSpecialValue(StorageElement.element.data.usageSpace)"
                                  class="sub-usage"
                                  total="StorageElement.element.data.totalSpace"
                                  used="StorageElement.element.data.usageSpace"></rtfact-storage-usage>
        </div>

    </div>


    <!-- Selected sub, opened in full display below -->
    <div ng-if="StorageElement.selectedSub" class="storage-element-anim">
        <rtfact-storage-element level='top' above="StorageElement" element="StorageElement.selectedSub.element"></rtfact-storage-element>
    </div>
</div>