<div class="modal-header deploy">
    <button type="button"
            class="close"
            data-dismiss="close"
            aria-label="Close"
            ng-click="Deploy.modalInstance.dismiss()"><span
            aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Deploy</h4>
</div>
<div class="modal-body deploy-body clearfix">
    <div class="deploy">
        <div class="form-group">
            <div class="form-group-cell target-path">
                <label>Target Repository</label>
                <jf-ui-select jf-select-model="Deploy.deployFile.repoDeploy"
                              jf-select-options="Deploy.comm.reposList"
                              jf-select-change="Deploy.onRepoChange()"
                              onclick-func=""
                              jf-select-display-attr="repoKey">

                </jf-ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group-cell auto-width deploy-repo-data">
                <div>Package Type: <i class="icon icon-{{Deploy.deployFile.repoDeploy.repoTypeIcon}} repo-type-icon"></i> {{Deploy.deployFile.repoDeploy.repoType}}</div>
                <div id="repo-layout" ng-if="Deploy.deployFile.repoDeploy.layoutPattern">Repository Layout: <small ng-bind-html="Deploy.deployFile.repoDeploy.layoutPatternDisplay"></small></div>
            </div>
        </div>
        <div>
            <jf-switch jf-switch-title="Type:" ng-model="Deploy.currentDeploy"
                       options="['Single', 'Multi']"></jf-switch>
        </div>
        <div ng-if="Deploy.comm.reposList && Deploy.isSelectedDeploy('Single')">
            <jf-single-deploy node="Deploy.node"
                              comm="Deploy.comm"
                              deploy-file="Deploy.deployFile"
                              on-success="Deploy.onDeploySuccess()"></jf-single-deploy>
        </div>

        <div ng-if="Deploy.comm.reposList && Deploy.isSelectedDeploy('Multi')">
            <jf-multi-deploy node="Deploy.node"
                             comm="Deploy.comm"
                             deploy-file="Deploy.deployFile"
                             on-success="Deploy.onDeploySuccess()"></jf-multi-deploy>
        </div>
    </div>
</div>
<div class=" clearfix modal-footer">
    <div class="btn-group">
        <button class="btn btn-primary"
                ng-disabled="!Deploy.deployController.isReady()"
                ng-click="Deploy.deploy();">Deploy
        </button>
    </div>
</div>