<li ng-click="jfDockerV2Layer.setSelected(true)" ng-class="{'selected':jfDockerV2Layer.isSelected()}">
    <div class="title" ng-click="jfDockerV2Layer.collapsed = !jfDockerV2Layer.collapsed" ng-class="{open: !jfDockerV2Layer.collapsed}">
        <span class="cmd-color-bar" ng-style="{backgroundColor: jfDockerV2Layer.COLOR_MAP[jfDockerV2Layer.data.command]}"></span>
        {{jfDockerV2Layer.data.command}}
        <span class="current-node-name" ng-if="jfDockerV2Layer.isUpper">{{jfDockerV2Layer.parent.currentPath.substr(jfDockerV2Layer.parent.currentPath.lastIndexOf('/') + 1)}}</span>
        <span class="layer-id-display">{{jfDockerV2Layer.data.shortId}}</span>
    </div>
    <ul class="layer-details" collapse="jfDockerV2Layer.collapsed">

        <li class="id">
            <i class="icon icon-docker-id" jf-tooltip="ID"></i> <span jf-tooltip="{{jfDockerV2Layer.data.id}}">{{jfDockerV2Layer.data.id}}</span>
        </li>
        <li class="id">
            <i class="icon icon-docker-digest" jf-tooltip="Digest"></i> <span jf-tooltip="{{jfDockerV2Layer.data.id}}">{{jfDockerV2Layer.data.digest}}</span>
        </li>
        <li>
            <span class="commandtext"><i class="icon icon-docker-command" jf-tooltip="Command"></i>{{jfDockerV2Layer.data.commandText}}</span>
        </li>
        <li class="inline-cells">
            <div><i class="icon icon-docker-created" jf-tooltip="Created"></i>{{jfDockerV2Layer.created}}</div>
            <div><i class="icon icon-docker-size" jf-tooltip="Size"></i>{{jfDockerV2Layer.data.size}}</div>
        </li>

    </ul>
</li>
